.summary {
  text-align: center;
  max-width: 80%;
  width: 80%;
  margin: auto;
  margin-bottom: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  margin-top: -2.5em;
}

@media screen and (min-width: 400px) {
  summary {
    margin-top: -1.5em
  }
}

